grpcio==1.81.0
grpcio-health-checking==1.81.0
grpcio-tools==1.81.0
numpy==2.4.6
packaging==26.2
protobuf==6.33.6
python-dotenv==1.2.2
setuptools==82.0.1
typing_extensions==4.15.0
webrtcvad-wheels==2.0.14
wheel==0.47.0
